@import url("./01-fonts-vars.css");
@import url("./02-base-layout.css");
@import url("./03-calendar.css");
@import url("./04-modal-form.css");
@import url("./05-time-slots.css");
@import url("./06-admin-ui.css");
@import url("./07-week-selector.css");
@import url("./08-responsive.css");
